{% load  static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Md. Shahriar Alam</title>
        <link href = "{% static '/css/main.css' %}" rel= "stylesheet" type ="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>


    <body>
        <br>
        <div class = "container"  >
            <div class = "row">
                <div class = "col-md-3">
                    <div class ="card card-body h-100 border-info "  id = "profile-wrapper">
                        <img id= "profile-pic" src = "{% static 'images/shaown.jpg' %}">
                        <br>

                        <h4>Hi I'm Shahriar </h4>
                        <p > I love Coding, Research and Collaborating </p>
                    </div>
                </div>

                <div class = "col-md-9", >
                    <div class ="card card-body h-100 border-info", id = "card">
                    <br>

                        <h2 id = "heading">  About Me </h2>
                        <hr>
                        <p id = "text" > 
                        Aim to be a part of a progressive organization that offers 
                        a scope to enhance capability and skills 
                        and also allows me to utilize skills for integrating knowledge, 
                        to support the workflow in organizations.
                        <br> 
                        </p>

                        <ul class = "social-links">
                        <li><img class = "social" src = "{% static 'images/phone.png' %}"> Contact No: +8801521496105</li>
                        <br> 
                        <li><img class = "social" src = "{% static 'images/gmail.png' %}">  Email: s.shaown12@gmail.com </li>
                        <br> 
                        <li><img class = "social" src = "{% static 'images/Octocat.png' %}"> Github: https://github.com/Pheonix12 </li>
                        <br>
                        <li><img class = "social" src = "{% static 'images/linkedin.png' %}"> Linkedin: https://www.linkedin.com/in/md-shahriar-alam-shaown-24766714b/</li>
                        </ul>

                    
                    </div>
                </div>

            </div>
            <br>

            <div class = "row">
                <div class = "col-md-6">
                    <div class ="card card-body h-100">
                    <h2 id = "heading" > Education </h2>
                    <hr>
                    <p id = "text">
                    <b> B.Sc in Computer Science and Engineering , East West University </b> 
                    <br> 01/2015 - 12/2019 <br> CGPA: 2.31 out of 4.00 <br> Major: Machine Learning, Data Mining, Pattern Recognition, Computer Graphics
                    
                    <br>

                    <b> Higher Secondary Certificate (HSC) </b>
                    <br>Engineering University School & College, Dhaka <br> 2012 - 2014 <br>  GPA: 5.00 out of 5.00 <br> Science
                    <br>

                    <b> Secondary School Certificate(SSC)  </b>
                    <br>Motijheel Model High School & College, Dhaka <br> 01/2005 - 2012 <br> GPA: 5.00 out of 5.00 <br> Science
                    
                    </p>
                    
                    </div>
                </div>

                <div class = "col-md-6">
                    <div class ="card card-body h-100">
                    <h2 id = "heading"> Technical Skills </h2>
                    <hr>
                    <p id = "text">
                    Django, TensorFlow, Pytorch, Visual Studio, Pycharm, Microsoft Power BI, Tableau, Android Studio, WebStorm. 
                    <br> OS: Windows 10, Linux
                    </p>
                    </div>
                </div>
            </div>
            <br>

            <div class = "row">
                <div class = "col-md-6">
                    <div class ="card card-body h-100">
                    <h2 id = "heading"> Projects </h2>
                    <hr>
                    <p id = "text" >
                    EduCRJ: A Blockchain Based Platform for Transferring Credit Among Universities and 
                    Job Application based on blockchain which can be a potential platform for student, universities, 
                    and even for other stakeholders who are looking for graduates to recruit in jobs.This platform will 
                    ensure a quick credit information transfer and sharing process, which will benefit the education sector.
                    <br>
                    <br>
                    Event extraction from text using SpaCy (NLP)
                    </p>

                    </div>
                </div>

                <div class = "col-md-6">
                    <div class ="card card-body h-100">
                    <h2 id = "heading" > Programming Language </h2>
                    <hr>
                    <p id = "text" > Python, JavaScript(basic), C, C++, Bash, Sql </p>                    
                    
                    
                    
                    
                    </div>
                </div>

            </div>
            <br>
            
            <div class = "row">
                <div class = "col-md-6">
                    <div class ="card card-body h-100">
                    <h2 id ="heading" > Organization </h2>
                    <hr>

                    <p id = "text" >
                    East West University Computer Programming Club <br> &#9830; Mentor [Python] 
                    <br> East West University Robotics Club <br> &#9830; Mentor [IoT, Raspberry Pi, Arduino]
                    </div>
                </div>

                <div class = "col-md-6" >
                    <div class ="card card-body h-100" >
                    <h2 id = "heading" > Achievements </h2>
                    <hr>

                    <p id = "text"> Completed the Python Programming Track,
                    <br> Data Manipulation with pandas Track,
                    <br> Data Scientist with Python Track and
                    <br> Machine Learning Scientist with Python from Data Camp 
                    <br>
                    <b> WORK EXPERIENCE </b>
                    <br> Internship on Android Development, Perky Rabbit
                    </p>
                    </div>
                </div>

            </div>
            <br>

            <div class = "row">
                <div class = "col-md-6">
                    <div class ="card card-body h-100">
                    <h2 id ="heading" > Interests </h2>
                    <hr>

                    <p id = "text" >
                    &#9830; Django &#9830; Machine Learning &#9830; Deep Learning
                    &#9830; Big Data &#9830; Neural Networks &#9830; Natural Language Processing 
                    &#9830; Cloud Computing
                    </p> 
                    </div>
                </div>

                <div class = "col-md-6" >
                    <div class ="card card-body h-100" >
                    <h2 id = "heading" > Languages </h2>
                    <hr>

                    <p id = "text">  &#9830; English <br> (Full Professional Proficiency) <br> &#9830; Bengali <br> (Native or Bilingual Proficiency) </p>
                    </div>
                </div>

            </div>
            <br>

            
















        </div>
    </body>



</html>